.nav {
  @include phones {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 101;
    display: none;
  }
  float: right;
}

.nav__list {
  padding: 0;
  font-size: 0;
}

.nav__list> li {
  @include phones {
    display: block;
  }
  position: relative;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  font-size: rem(18px);
  text-align: center;
}

.nav__list> li> a  {
  @include laptop {
    padding: rem(40px) rem(23px);
  }
  @include tablets {
    padding: rem(40px) rem(12px);
  }
  @include phones {
    padding: rem(5px) rem(45px);
    background: #323439;
  }
  display: block;
  padding: rem(40px) rem(25px);
  color: #ffffff;
  text-decoration: none;
  &:visited,
  &:hover,
  &:active  {
    text-decoration: none;
  }
  transition: all 0.3s;
}

.nav__list> li:hover> a,
.nav__list> li.active> a {
  color: $main-color;
}

.nav__list> li:nth-child(3):after {
  content: "";
  position: absolute;
  top: 47%;
  right: 1%;
  border: rem(6px) solid;
  border-color: #ffffff transparent transparent transparent;
  transition: all 0.3s;
}

.nav__list> li:hover:after {
  top: 42%;
  transform: scaleY(-1);
  border-color: $main-color transparent transparent transparent;

}

.nav__dropdown {
  position: absolute;
  top: -9999px;
  z-index: 100;
  padding: 0;
  width: 100%;
  list-style-type: none;
  background: $main-color;
  opacity: 0;
  transition: opacity 0.3s;
}

.nav__dropdown> li {
  padding: 0;
  text-align: center;
}

.nav__dropdown> li> a {
  display: block;
  padding: rem(5px) rem(15px);
  color: #ffffff;
  background: $main-color;
  transition: all 0.2s;
}

.nav__dropdown> li:hover a {
  color: #443f43;
  background: #ffffff;
}

.nav__list> li:hover> .nav__dropdown {
  top: 100%;
  opacity: 1;
}

.nav__trigger {
  @include phones {
    display: block;
  }
  display: none;
  position: relative;
  float: right;
  margin-top: rem(2px);
  width: rem(85px);
  height: rem(45px);
  cursor: pointer;
  transition: all 0.25s;
}

.nav__trigger-line {
  display: block;
  position: absolute;
  left: 10%;
  height: 3px;
  width: 55%;
  background: #ffffff;
  border-radius: 9px;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.nav__trigger-line--top {
  top: 8px;
}

.nav__trigger-line--middle {
  top: 18px;
}

.nav__trigger-line--bottom {
  top: 28px;
}

.nav__trigger.active {
  .nav__trigger-line--top {
    top: 20px;
    transform: rotate(45deg);
    transition: 0.25s ease-in-out;
  }
  .nav__trigger-line--middle {
    opacity: 0;
  }

  .nav__trigger-line--bottom {
    top: 20px;
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
  }
}




