.nav {
  text-align: right;
  position: relative;
}

.nav__list {
  @include phones {
    z-index: 99;
  }
  padding: 0;
  font-size: 0;
}

.nav__list> li {
  @include phones {
    display: block;
  }
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(2px);
  font-size: rem(18px);
  text-align: center;
}

.nav__list> li> a  {
  @include desktop {
    padding: rem(32px) rem(45px);
  }
  @include laptop {
    padding: rem(32px) rem(29px);
  }
  @include tablets {
    padding: rem(32px) rem(20px);
  }
  @include phones {
    padding: rem(14px) rem(15px);
    border: 1px #ffffff solid;
  }
  display: block;
  color: #ffffff;
  background: #E6CAAB;
  text-decoration: none;
  transition: all 0.3s;
  &:visited,
  &:hover,
  &:active  {
    text-decoration: none;
  }
}

.nav__list> li {
  &:nth-child(1)> a {
    background: #FFAD4B;
  }
  &:nth-child(2)> a {
    background: #FF886E;
  }
  &:nth-child(3)> a {
    background: #FF6B7B;
  }
  &:nth-child(4)> a {
    background: #8CC4D9;
  }
  &:nth-child(5)> a {
    background: #A5D5AC;
  }
}

.nav__list> li {
  &:nth-child(1)> a,
  &:nth-child(2)> a,
  &:nth-child(3)> a,
  &:nth-child(4)> a,
  &:nth-child(5)> a {
    @include phones {
      background: #4A4A4A;
    }
  }
}

.nav__list> li:hover> a,
.nav__list> li.active> a {
  background: #FF8A8E;
}

.nav__list> li:nth-child(3):after {
  content: "";
  position: absolute;
  top: 47%;
  left: 87%;
  border: rem(6px) solid;
  border-color: #ffffff transparent transparent transparent;
  transition: all 0.3s;
}

.nav__list> li:hover:after {
  transform: scaleY(-1);
  top: 42%;
}

.nav__dropdown {
  position: absolute;
  top: -9999px;
  list-style-type: none;
  padding: 0;
  transition: opacity 0.3s;
  z-index: 100;
  opacity: 0;
  width: 100%;
  background: #ffffff;
}

.nav__dropdown> li {
  text-align: center;
  text-transform: lowercase;
  padding: 0;
}

.nav__dropdown> li> a {
  display: block;
  color: #3C2415;
  padding: rem(14px) 0;
  transition: all 0.2s;
}

.nav__dropdown> li:hover a {
  background: #4A4A4A;
  color: #ffffff;
}

.nav__list> li:hover> .nav__dropdown {
  top: 100%;
  opacity: 1;
}

.nav__trigger {
  @include phones {
    display: inline-block;
  }
  display: none;
  width: rem(85px);
  height: rem(45px);
  position: relative;
  top:rem(-60px);
  cursor: pointer;
  margin-right: rem(25px);
  transition: all 0.25s;
}

.nav__trigger-line {
  display: block;
  position: absolute;
  left: 10%;
  height: 7px;
  width: 80%;
  background: #333333;
  border-radius: 9px;
  transform: rotate(0deg);
  //transition: 0.25s ease-in-out;
}

.nav__trigger-line--top {
  top: 8px;
}

.nav__trigger-line--middle {
  top: 18px;
}

.nav__trigger-line--bottom {
  top: 28px;
}

.nav__trigger.active {
  .nav__trigger-line--top {
    top: 20px;
    transform: rotate(45deg);
    transition: 0.25s ease-in-out;
  }
  .nav__trigger-line--middle {
    opacity: 0;
  }

  .nav__trigger-line--bottom {
    top: 20px;
    transform: rotate(-45deg);
    transition: 0.25s ease-in-out;
  }
}




