mixin nav()
    nav.nav
        .nav__trigger
            span.nav__trigger-line.nav__trigger-line--top
            span.nav__trigger-line.nav__trigger-line--middle
            span.nav__trigger-line.nav__trigger-line--bottom
        ul.nav__list
            li.active
                a(href="index.html") Главная
            li
                a(href="#") О нас
            li
                a(href="#") Наши животные
                ul.nav__dropdown
                    li
                        a(href="#") Пункт 1
                    li
                        a(href="#") Пункт 2
                    li
                        a(href="#") Пункт 3
            li
                a(href="#") Информация
            li
                a(href="#") Контакты
