$footer_height: rem(60px);

/******************* Прижатый футер *******************/


.page__wrapper {
    background: url(../../static/img/general/texture.jpg) center;
    position: relative;
    min-height: 100%;
    overflow: hidden;

&:after {
     content: "";
     display: block;
     height: $footer-height;
    margin-bottom: -$footer-height;
 }
}

.page__footer {
    height: $footer_height;
    background: green;
}