mixin information(data)
    h1
    section.information
        .container
                .row
                    .col-sm-4
                        .information__item
                            h2
                                | О породе


                            .information__item-content
                                .information__img-box
                                    img(src="%=static=%img/content/information1.jpg" alt="")
                                .information__sub-title
                                    h3 ipsum dolo
                                .information__text
                                    p
                                        | Duis ultr icies pharetra magna. Donec accuan malesuada orcinec sitmet eros. Lorem ipsum dolor sit amet con secetuer adipiscing elit. Mauris fermen
                                        | tum dictum magna. Sed loreet aliquam leo.
                                    p
                                        |Ut tellus dolor dapibus eget elementum vel cursus eleifend elit. Aenean auctor wisi et urna. Aliqurat volutpat. Duis ac turpis. Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque.
                                .information__buttons
                                    button.btn read more
                    .col-sm-4
                        .information__item
                            h2
                                | О породе
                            .information__item-content
                                .information__img-box
                                    img(src="%=static=%img/content/information1.jpg" alt="")
                                .information__sub-title
                                    h3 ipsum dolo
                                .information__text
                                    p
                                        | Duis ultr icies pharetra magna. Donec accuan malesuada orcinec sitmet eros. Lorem ipsum dolor sit amet con secetuer adipiscing elit. Mauris fermen
                                        | tum dictum magna. Sed loreet aliquam leo.
                                    p
                                        |Ut tellus dolor dapibus eget elementum vel cursus eleifend elit. Aenean auctor wisi et urna. Aliqurat volutpat. Duis ac turpis. Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque.
                                .information__buttons
                                    button.btn read more
                    .col-sm-4
                        .information__item
                            h2
                                | О породе
                            .information__item-content
                                .information__img-box
                                    img(src="%=static=%img/content/information1.jpg" alt="")
                                .information__sub-title
                                    h3 ipsum dolo
                                .information__text
                                    p
                                        | Duis ultr icies pharetra magna. Donec accuan malesuada orcinec sitmet eros. Lorem ipsum dolor sit amet con secetuer adipiscing elit. Mauris fermen
                                        | tum dictum magna. Sed loreet aliquam leo.
                                    p
                                        |Ut tellus dolor dapibus eget elementum vel cursus eleifend elit. Aenean auctor wisi et urna. Aliqurat volutpat. Duis ac turpis. Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque.
                                .information__buttons
                                    button.btn read more
                    .col-sm-4
                        .information__item
                            h2
                                | О породе
                            .information__item-content
                                .information__img-box
                                    img(src="%=static=%img/content/information1.jpg" alt="")
                                .information__sub-title
                                    h3 ipsum dolo
                                .information__text
                                    p
                                        | Duis ultr icies pharetra magna. Donec accuan malesuada orcinec sitmet eros. Lorem ipsum dolor sit amet con secetuer adipiscing elit. Mauris fermen
                                        | tum dictum magna. Sed loreet aliquam leo.
                                    p
                                        |Ut tellus dolor dapibus eget elementum vel cursus eleifend elit. Aenean auctor wisi et urna. Aliqurat volutpat. Duis ac turpis. Integer rutrum ante eu lacuestibulum libero nisl porta vel scelerisque eget malesuada at neque.
                                .information__buttons
                                    button.btn read more




