.logo {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #000000;
  }
  z-index: 5;
  float: left;
  display: block;
  color: #000000;
  text-align: center;
}

.logo__img-box {
  @include phones {
    width: rem(43px);
    height: rem(50px);
  }
  display: inline-block;
  vertical-align: middle;
  width: rem(63px);
  height: rem(70px);
  margin: auto;
}

.logo__text {
  @include phones {
    font-size: rem(24px);
    line-height: 1;
  }
  display: inline-block;
  vertical-align: middle;
  font-size: rem(30px);
  line-height: 1.2;
}
