.logo {
  &:link,
  &:visited,
  &:hover,
  &:active {
    color: #000000;
  }
  display: block;
  color: #000000;
  text-align: center;
}

.logo__img-box {
  @include phones {
    width: rem(63px);
    height: rem(70px);
  }
  width: rem(93px);
  height: rem(100px);
  margin: auto;
}

.logo__text {
  @include phones {
    font-size: rem(16px);
    line-height: 1;
  }
  font-size: rem(30px);
  line-height: 1.2;
}
