mixin header(data)
    include ../logo/logo
    include ../nav/nav
    header.header
        .container
            .header__logo
                +logo()
            .header__nav
                +nav()