mixin header(data)
    include ../logo/logo
    include ../nav/nav
    header.header
        .container
                .header__left
                    +logo()
                .header__right
                    +nav()