.header {
  background: url(../../static/img/general/header_bg.jpg);
}

.header__logo {

  float: left;
  margin-top: rem(17px);
}

.header__nav {
  @include phones {
    float:none;
  }
  @extend %clearfix;
  float: right;
  margin-top: rem(63px);
}

