mixin head(title)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    //meta(content="", name="description")
    //meta(content="", name="keywords")
    //meta(content="telephone=no", name="format-detection")
    link(rel="icon" type="image/x-icon" href="favicon.ico")

    | <!--[if IE 8 ]><link href="%=static=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    | <!--[if IE 9 ]><link href="%=static=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    | <!--[if (gt IE 9)|!(IE)]><!--><link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    link(href='%=static=%css/separate-css/normalize..css', rel='stylesheet')
    link(href='%=static=%css/separate-css/bootstrap.min.css', rel='stylesheet')
    link(href='%=static=%css/separate-css/owl.carousel.css', rel='stylesheet')
    link(href='%=static=%libraries/owl/assets/owl.carousel%=hash=%%=min=%.css', rel='stylesheet')
    link(href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css")