.slider {

}

.slider__item {
  @include desktop {
  }
  @include laptop {
  }
  @include tablets {
  }
  @include phones {
  }
}

.slider__img-box {
  position: relative;
  overflow: hidden;
  background: #000000;
}

.slider__img-box img {
  line-height: 1;
}

.owl-nav> div {
  @include phones {
    width: rem(50px);
    height: rem(50px);
  }
  position: absolute;
  top: 50%;
  width: rem(60px);
  height: rem(60px);
  margin-top: rem(-30px);
  border-radius:50%;
  background-color: #D8D8D8;
  opacity: 0.8;
  transition: all 0.3s;
}

.owl-prev {
  background: url(../../static/img/general/slider_arrow.png) center no-repeat;
  left: rem(5px);
  @include phones {
    left: rem(-5px);
  }

}

.owl-next {
  background: url(../../static/img/general/slider_arrow.png) center no-repeat;
  transform: scaleX(-1);
  right: rem(5px);
  @include phones {
    right: rem(-5px);
  }

}

.owl-nav div:hover, {
  opacity:0.5;

}

.owl-dots {
  @include phones {
    display: none;
  }
  position: absolute;
  top: 90%;
  right: 50%;
  border-radius: 50%;
  margin-right: rem(-60px);
}

.owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(9px);
  border-radius: 50%;
  width: rem(15px);
  height: rem(15px);
  transition: all 0.1s;
}

.owl-dots .owl-dot:hover,
.owl-dots .owl-dot.active {
  background: #FF8A8E;
}

.owl-dots .owl-dot:hover span,
.owl-dots .owl-dot.active span {
  background: #FF8A8E;
}

.owl-dots .owl-dot span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: rem(-5px);
  margin-left: rem(-5px);;
  width: rem(10px);
  height: rem(10px);
  background: #cdcdcd;
  border-radius: 50%;
  transition: all 0.1s;
}