mixin slider(data)
    .container
        .slider.owl-carousel#slider1
                .slider__item
                    .slider__img
                        img(src='%=static=%img/content/slider1.jpg')
                    .slider__text
                .slider__item
                    .slider__img
                        img(src='%=static=%img/content/slider2.jpg')
                    .slider__text
                .slider__item
                    .slider__img
                        img(src='%=static=%img/content/slider3.jpg')
                    .slider__text
                .slider__item
                    .slider__img
                        img(src='%=static=%img/content/slider4.jpg')
                    .slider__text
                .slider__item
                    .slider__img
                        img(src='%=static=%img/content/slider5.jpg')
                    .slider__text
