mixin slider(data)
    .slider
            .owl-carousel#slider1
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slide1.jpg')
                        //.slider__text
                        //    .slider__title
                        //        |Узнайте всё о кошках!
                        //    .slider__subtitle
                        //        Fusce molestie, nibh quis adipiscing sollicitudin
                        //    .slider__buttons
                        //        .slider__btn
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slide2.jpg')
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slide3.jpg')
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slide4.jpg')
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slide5.jpg')
