.slider {

  background: #ffffff;
}

.slider__item {
  @include desktop {
    height: rem(750px);
  }
  @include laptop {
    height: rem(650px);
  }
  @include tablets {
    height: rem(550px);
  }
  @include phones {
    height: rem(400px);
  }
}

.slider__img-box {
  height: 72%;
  position: relative;
  overflow: hidden;
  background: #000000;
 @include phones {

  }
  
}

.slider__img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.slider__text {
  background: #ffffff;
  text-align: center;
  position: relative;
  height: 28%;
  @include phones {
    display: none;
  }
}

.owl-nav> div {
  position: absolute;
  top: rem(250px);
  width: rem(60px);
  height: rem(60px);
  border-radius:50%;
  background-color: #D8D8D8;
  opacity: 0.8;
  transition: all 0.3s;
}

.owl-prev {
  background: url(../../static/img/general/slider_arrow.png) center no-repeat;
  left: rem(-35px);
  @include phones {
    left: rem(-5px);
  }

}

.owl-next {
  background: url(../../static/img/general/slider_arrow.png) center no-repeat;
  transform: scaleX(-1);
  right: rem(-35px);
  @include phones {
    right: rem(-5px);
  }

}

.owl-nav div:hover {
  opacity:0.5;
}

.owl-dots {
  position: absolute;
  top: 67%;
  right: 50%;
  border-radius: 50%;
  margin-right: rem(-60px);
  @include phones {
    display: none;
  }
}

.owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: rem(9px);
  border-radius: 50%;
  width: rem(15px);
  height: rem(15px);
  transition: all 0.1s;
}

.owl-dots .owl-dot:hover {
  background: #FF8A8E;
}

.owl-dots .owl-dot:hover span {
  background: #FF8A8E;
}

.owl-dots .owl-dot span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: rem(-5px);
  margin-left: rem(-5px);;
  width: rem(10px);
  height: rem(10px);
  background: #cdcdcd;
  border-radius: 50%;
  transition: all 0.1s;
}