mixin slider(data)
    .slider
        .container
            .owl-carousel#slider1
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slider6.jpg')
                        .slider__text
                            .slider__title
                                |Узнайте всё о кошках!
                            .slider__subtitle
                                Fusce molestie, nibh quis adipiscing sollicitudin
                            .slider__buttons
                                .slider__btn
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slider7.jpg')
                        .slider__text
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slider8.jpg')
                        .slider__text
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slider9.jpg')
                        .slider__text
                    .slider__item
                        .slider__img-box
                            img(src='%=static=%img/content/slider10.jpg')
                        .slider__text
